body {
    font-family: "helvetica neue";
    color: #666;
    /*padding: 0 20%;*/
}

li {
  list-style-type: none;
}

li input {
    display: none;
}

li.edit span {
    display: none;
}

li.edit input {
    display: initial;
}